<%= component "container", size: "lg" do %>
  <%= component "breadcrumbs" do %>
    <%= link_to 'My Books', books_path %>
    <strong><%= @book.title %></strong>
  <% end %>
  <%= component "title", text: @book.title %>
<% end %>

<%= render 'form', book: @book %>
<%= link_to 'Destroy', @book, method: :delete, data: { confirm: 'Are you sure?' } %>

<h2>Chapters</h2>

<%= link_to 'New Chapter', new_book_chapter_path(@book) %>

<table>
  <% @chapters.each_with_index do |chapter, index| %>
    <tr>
      <td><%= index + 1 %>. </td>
      <td><%= chapter.title %></td>
      <td><%= chapter.published %></td>
      <td><%= link_to 'Edit', edit_book_chapter_path(chapter.book, chapter) %></td>
      <td><%= link_to 'Destroy', [chapter.book, chapter], method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>