<%= form_with(model: [@chapter.book, @chapter]) do |f| %>
  <% if @chapter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@chapter.errors.count, "error") %> prohibited this chapter from being saved:</h2>

      <ul>
      <% @chapter.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, autofocus: "true", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body, class: "editable form-control" %>
  </div>
  <div class="form-group form-check">
    <%= f.check_box :published, class: "form-check-input" %>
    <%= f.label :published %>
  </div>
  <div class="form-group">
    <%= f.submit class: "btn btn-dark" %>
  </div>
<% end %>
