<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @chapter.title %>
</p>

<p>
  <b>Body:</b>
  <%= @chapter.body %>
</p>

<p>
  <b>Published:</b>
  <%= @chapter.published %>
</p>


<%= link_to 'Edit', edit_book_chapter_path(@chapter.book, @chapter) %> |
<%= link_to 'Back', book_chapters_path(@chapter.book) %>
